.title {
    color: white;
    margin-top: 7px;
    text-align: center;
    font-size: 70px;
    font-family: system-ui;
}

.image {
    display: flex;
    padding-left: 380px;
    height: 400px;
}

.image img {
    width: 80%;
    height: 100%;
}

.midle-text {
    position: absolute;
    left: 20%;
    top: 15%;
    font-size: 1650%;
    z-index: -1000;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bungee Inline', sans-serif;
    font-family: 'Tourney', sans-serif;
}


.about-toyota {
    margin-top: 150px;
}

.about-toyota-text {
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;


}

.about-toyota-text-1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;
}


.search {
    border-style: none;
    background-color: white;
    border-radius: 50px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.performance-text {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
    font-size: 17px;
}

.performance {
    position: absolute;
    display: flex;
    left: 75%;
    top: 59%;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;

}

.performance-1 {
    position: absolute;
    display: flex;
    left: 25%;
    top: 50%;
    align-items: center;
    width: 3%;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.performance-1-img,
.performance-2-img {
    width: 44px;
}

.top-socialmedia {
    display: flex;
    align-items: center;
    width: 25%;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    font-family: 'Roboto';
    text-decoration: none;
    margin-bottom: 71px;
}

.mouse {
    position: absolute;
    top: 90%;
    left: 50%;
}

.mouse-icon {
    width: 30px;
}

.specifications-page {
    width: 100%;
    height: 1000px;
    background: white;
}

.engine-title {
    text-align: center;
    font-size: 50px;
    font-family: arial;
}

.about-engine {
    position: relative;
    z-index: 10000;
    text-align: center;
    width: 70%;
    line-height: 23px;
    font-size: 17px;
    font-family: arial;
    padding-left: 267px;

}

.engine {
    position: absolute;
    width: 90%;
    top: 1310px;
    margin-left: 8%;

}

.engine-img {
    position: relative;
    z-index: 2;
    margin-left: 35%;
    width: 20%;
}

.background-for-engine {
    position: absolute;
    z-index: 1;
    margin-top: -12%;
    margin-left: -29%;
    width: 37%;
}

.specifications-engine {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    top: -69px;
    left: -67px;
}

.right-section {
    display: grid;
    align-content: space-around;
    margin-top: 252px;
}

.turbo-engine {
    font-family: 'Roboto', sans-serif;
}

.turbo-engine-p1 {
    color: rgb(185, 178, 178);
    font-size: 14px;
    margin: 0;
}

.turbo-engine-p2 {
    font-weight: 900;
    font-size: 150px;
    font-family: 'Bebas Neue';
    margin-top: -30px;
}



.fuel {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: -138Px;
    margin-left: 30px;
}

.fuel-p1 {
    font-weight: 900;
    font-size: 80px;
    font-family: 'Bebas Neue';
    margin-top: -30px;
    margin: 0;
}

.fuel-p2 {
    color: rgb(185, 178, 178);
    font-size: 14px;
    margin-top: -19px;
}

.fuel-img {
    position: absolute;
    left: 29.7%;
    top: 90%;
}


.left-section {
    display: grid;
    align-content: space-around;
    margin-top: 252px;
}

.torque-p1 {
    font-size: 60px;
    margin: 0;
    font-family: 'Bebas Neue';
}

.torque-p2 {
    color: rgb(185, 178, 178);
    margin-top: -9px;
    font-family: 'Roboto', sans-serif;
}

.torque-img {
    position: absolute;
    left: 69.4%;
    top: 54%;
}

.power-p1 {
    font-size: 60px;
    margin: 0;
    font-family: 'Bebas Neue';
}

.power-p2 {
    color: rgb(185, 178, 178);
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
}

.power-p3 {
    position: absolute;
    left: 1344px;
    top: 345px;
    font-family: 'Bebas Neue';
    font-size: 25px;
}

.power-img {
    position: absolute;
    left: 69.4%;
    top: 74%;
}

.topspeed-pq {
    color: rgb(185, 178, 178);
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
}

.topspeed-p1 {
    font-size: 60px;
    margin: 0;
    font-family: 'Bebas Neue';
}

.topspeed-p2 {
    color: rgb(185, 178, 178);
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;

}

.topspeed-p3 {
    position: absolute;
    left: 1344px;
    top: 444px;
    font-family: 'Bebas Neue';
    font-size: 25px;
}

.topspeed-img {
    position: absolute;
    left: 70.4%;
    top: 89%;
}